<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	

<mapper namespace="kr.co.hb.board.dao.BoardDAO">
	<select id="flist" resultType="kr.co.hb.board.dto.BoardDTO">
	SELECT fbNo, title, id, fbTime, bhit 
	FROM fBoard ORDER BY fbNo DESC
	</select>
	

	<insert useGeneratedKeys="true" keyColumn="fbNo" keyProperty="fbNo" id="write" 
	parameterType="kr.co.hb.board.dto.BoardDTO">
	INSERT INTO fBoard (title, id, bContent)
	VALUES (#{title},#{id},#{bContent})
	</insert>
	
	
	<insert id="filewrite">
	INSERT INTO hbphoto (notice_idx, oriFileName, newFileName)
	VALUES (#{param1}, #{param2}, #{param3})
	</insert>
	
	
	
	
	
	
	
</mapper>