<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="kr.co.hb.board.dao.BoardDAO">
	<select id="list" resultType="kr.co.hb.board.dto.BoardDTO">
		SELECT *
		  FROM fBoard f
		  WHERE f.fbNo NOT IN (
		  SELECT f.fbNo
		  FROM fBoard f
		  INNER JOIN secret s ON f.fbNo = s.sboard_num
		  WHERE s.secret_state = 1 
	  	)
	  	ORDER BY fbNo DESC
	</select>

	<select id="fsorting" resultType="kr.co.hb.board.dto.BoardDTO">
		SELECT *
		  FROM fBoard f
		  WHERE f.big_hb = #{big_hb} AND f.small_hb = #{small_hb} AND f.fbNo NOT IN (
		  SELECT f.fbNo
		  FROM fBoard f
		  INNER JOIN secret s ON f.fbNo = s.sboard_num
		  WHERE s.secret_state = 1 
	  	)
	  	ORDER BY fbNo DESC
	</select>


	<select id="tsearch" resultType="kr.co.hb.board.dto.BoardDTO">
		SELECT *
		  FROM fBoard f
		  WHERE f.title LIKE #{search} AND f.fbNo NOT IN (
		  SELECT f.fbNo
		  FROM fBoard f
		  INNER JOIN secret s ON f.fbNo = s.sboard_num
		  WHERE s.secret_state = 1 
	  	)
	  	ORDER BY fbNo DESC
	</select>

	<select id="isearch" resultType="kr.co.hb.board.dto.BoardDTO">
		SELECT *
		  FROM fBoard f
		  WHERE f.id LIKE #{search} AND f.fbNo NOT IN (
		  SELECT f.fbNo
		  FROM fBoard f
		  INNER JOIN secret s ON f.fbNo = s.sboard_num
		  WHERE s.secret_state = 1 
	  	)
	  	ORDER BY fbNo DESC
	</select>

	<select id="csearch" resultType="kr.co.hb.board.dto.BoardDTO">
		SELECT *
		  FROM fBoard f
		  WHERE f.bContent LIKE #{search} AND f.fbNo NOT IN (
		  SELECT f.fbNo
		  FROM fBoard f
		  INNER JOIN secret s ON f.fbNo = s.sboard_num
		  WHERE s.secret_state = 1 
	  	)
	  	ORDER BY fbNo DESC
	</select>

	<insert useGeneratedKeys="true" keyColumn="fbNo"
		keyProperty="fbNo" id="fwrite"
		parameterType="kr.co.hb.board.dto.BoardDTO">
		INSERT INTO fBoard (title, id, bContent,big_hb,small_hb)
		VALUES (#{title},#{id},#{bContent},#{big_hb},#{small_hb})
	</insert>

	<insert id="filesave">
		INSERT INTO hbPhoto(id, new_photo_name,
		ori_photo_name, board_class,
		board_num)
		VALUES(#{param1},#{param4},#{param3},#{param2},#{param5})
	</insert>

	<update id="uphit">
		UPDATE fboard SET bhit = bhit+1
		WHERE fbNo = #{fbNo}
	</update>

	<select id="detail" resultType="kr.co.hb.board.dto.BoardDTO">
		SELECT f.fbNo, f.id, f.title,
		f.fbTime, f.bContent, f.bhit, f.big_hb,
		small_hb,
		h.photoIdx,
		h.new_photo_name FROM fBoard f
		LEFT JOIN hbPhoto h ON f.fbNo =
		h.board_num WHERE f.fbNo = #{fbNo} AND h.board_class="자유"
	</select>
	
	<select id="detail1" resultType="kr.co.hb.board.dto.BoardDTO">
		SELECT * FROM fboard WHERE fbNo = #{param1}
	</select>

	<delete id="fdelete">
		DELETE FROM fBoard WHERE fbNo=#{param1}
	</delete>

	<select id="findFile" resultType="String">
		SELECT new_photo_name FROM
		hbPhoto WHERE board_num=#{param1}
	</select>


	<update id="fupdate" parameterType="hashmap">
		UPDATE fBoard SET
		title=#{title}, bContent=#{bContent} WHERE fbNo = #{fbNo}
	</update>

	<delete id="fphotodel">
		DELETE FROM hbPhoto WHERE board_num=#{param1} AND
		board_class=#{param2}
	</delete>


	<select id="coList" resultType="kr.co.hb.board.dto.BoardDTO">
		SELECT fbNo, id, coContent,
		coTime, coNo FROM comment where fbNo =#{param1} ORDER BY coTime DESC
	</select>

	<insert id="cowrite" parameterType="hashmap">
		INSERT INTO comment(fbNo, id,
		coContent)
		VALUES (#{fbNo}, #{id},#{coContent})
	</insert>

	<delete id="codelete">
		DELETE FROM comment WHERE coNo = #{coNo}
	</delete>

	<insert id="bmarkdo">
		INSERT INTO bmark(myid, memid)
		VALUES(#{param2},#{param1})
	</insert>

	<select id="bmarklist" resultType="kr.co.hb.board.dto.BoardDTO">
		SELECT * FROM bmark where myid=#{param1} 
	</select>

	<select id="bmarkch" resultType="int">
		SELECT COUNT(listnum) FROM bmark WHERE myid=#{param2} and memid=#{param1}
	</select>

	<insert id="coAlarm">
		insert into alarm_list
		(id_send,id_receive,alarm_title,alarm_content,alarm_class,alarm_num)
		values (#{param1},#{param2},#{param3},#{param4},#{param5},#{param6})
	</insert>
	
	<select id="bmarkselect" resultType="kr.co.hb.board.dto.BoardDTO">
		SELECT m.id ,m.name, m.age, m.area, h.small_hb ,m.gender FROM member m inner join my_hobby_list h on m.id = h.id
		WHERE m.id IN(SELECT memid FROM bmark WHERE myid = #{param1})group by m.id
		
	</select>

	<delete id="bcancel" >
		DELETE FROM bmark WHERE myid=#{param1} AND memid=#{param2} 
	</delete>
	
	<insert id="freportdo" parameterType="hashmap">
		INSERT INTO report(preporter, reporter, reptboard_class, reptboard_num, rept_title, rept_content) 
		VALUES (#{preporter},#{reporter},#{reptboard_class}, #{reptboard_num}, #{rept_title},#{rept_content})
	</insert>
	
	 <insert id="fboardSecretSet">
	     insert into secret (writer_id, admin_id, sboard_class, sboard_title, sboard_num)
	     values (#{param1},#{param2},#{param3},#{param4},#{param5})
   </insert>
   
   <select id="adminchk" resultType="int">
   		SELECT admin FROM member WHERE id = #{param1}
   </select>
</mapper>