<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	

<mapper namespace="kr.co.hb.board.dao.QboardDAO">
	
	<insert 
      useGeneratedKeys="true"
      keyColumn="qboard_no"
      keyProperty="qboard_no"
   
   
      id="qboard_write" parameterType="kr.co.hb.board.dto.QboardDTO">
      INSERT INTO qboard(id, qboard_class, qboard_title, qboard_content,qboard_openchk)
         VALUES(#{id},#{qboard_class},#{qboard_title},#{qboard_content},#{qboard_openchk})
   </insert>
   
   <insert id="qboardFileSave">
      INSERT INTO hbphoto(id, board_num, board_class, ori_photo_name, new_photo_name)
         VALUES(#{param1},#{param2},#{param3},#{param4}, #{param5})
   </insert>
   
   <select id="qboardPageList" resultType="kr.co.hb.board.dto.QboardDTO">
		SELECT *
			FROM qboard ORDER BY qboard_no DESC LIMIT #{param1} OFFSET #{param2}
	</select>
	
	<select id="totalCount" resultType="int">
		SELECT COUNT(qboard_no) FROM qboard 
	</select>
	
	<select id="qboardDetail" resultType="kr.co.hb.board.dto.QboardDTO">
      SELECT q.qboard_no, q.qboard_class, q.qboard_time, q.id, q.qboard_title, q.qboard_content, q.qboard_openchk, q.qboard_reply, q.reply_time,
		h.photoIdx, h.new_photo_name FROM qboard q
	LEFT JOIN hbPhoto h ON q.qboard_no = h.board_num WHERE q.qboard_no = #{param1}   
   </select>
   
   
   <delete id="qboardDelete">
      DELETE FROM qboard WHERE qboard_no = #{param1}
   </delete>
   
   <delete id="updatePDelete">
      DELETE FROM hbphoto WHERE photoIdx = #{param1}
   </delete>
   
   <select id="qboardFindFile" resultType="String">
      SELECT new_photo_name FROM hbphoto
         WHERE board_num = #{param1}
   </select>
   
   <select id="qboardFindFile2" resultType="String">
      SELECT new_photo_name FROM hbphoto
         WHERE photoIdx = #{param1}
   </select>
   
   <update id="qboardUpdate" parameterType="HashMap">
         UPDATE qboard 
         SET qboard_class = #{qboard_class}
         , qboard_time = now()
         , id = #{id}
         , qboard_title = #{qboard_title}
         , qboard_content = #{qboard_content}
         , qboard_openchk = #{qboard_openchk}
         WHERE qboard_no = #{qboard_no}
   </update>
   
    <delete id="qDeletePhoto">
   		DELETE from hbphoto where photoIdx = #{param1} AND board_num = #{param2};
   </delete>
   
   <update id="replyWrite" parameterType="HashMap">
   		update qboard set qboard_state = true, qboard_reply = #{qboard_reply}, reply_time=now() where qboard_no = #{qboard_no}
   </update>
	
</mapper>