<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="kr.co.hb.board.dao.RandomDAO">

	<select id="plist" resultType="kr.co.hb.board.dto.RandomDTO">
		SELECT * FROM member 
	</select>

	<select id="profileList" parameterType="hashmap" resultType="kr.co.hb.board.dto.RandomDTO">
		SELECT * FROM member WHERE gender= #{gender} and city=#{city} and area=#{area} and age between #{minage} and #{maxage} 
	</select>
	
	<select id="randomList" parameterType="hashmap" resultType="kr.co.hb.board.dto.RandomDTO">
		SELECT * FROM member WHERE gender= #{gender} and city=#{city} and area=#{area} and age between #{minage} and #{maxage} 
	</select>
	
	<select id="noNameList" parameterType="hashmap" resultType="kr.co.hb.board.dto.RandomDTO">
		SELECT * FROM member WHERE gender= #{gender} and city=#{city} and area=#{area} and age between #{minage} and #{maxage}  
	</select>
	
	<select id="detail" resultType="kr.co.hb.board.dto.RandomDTO">
		SELECT * FROM member WHERE id = #{param1}
	</select>
	
		<select id="proPhotoList" resultType="kr.co.hb.board.dto.RandomDTO">
		SELECT * FROM hbPhoto WHERE id = #{param1} and board_class = #{param2}
	</select>
	



	
</mapper>