<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	

<mapper namespace="kr.co.hb.admin.dao.MemberManageDAO">

	<select id="alist" resultType="kr.co.hb.admin.dto.MemberManageDTO">
		SELECT * from member
	</select>

	<select id="memberList" parameterType="hashmap" resultType="kr.co.hb.admin.dto.MemberManageDTO">
		<!-- SELECT * FROM member WHERE admin = #{admin} and ban=#{ban} -->
		SELECT * FROM member
	</select>
	
	<select id="adminList" parameterType="hashmap" resultType="kr.co.hb.admin.dto.MemberManageDTO">
		SELECT * FROM member WHERE admin = 1
	</select>
	
	<select id="mList" parameterType="hashmap" resultType="kr.co.hb.admin.dto.MemberManageDTO">
		SELECT * FROM member WHERE admin = 0 
	</select>
	
	<select id="misearch" resultType="kr.co.hb.admin.dto.MemberManageDTO">
		SELECT m.id ,m.name ,m.age , m.area, h.big_hb, h.small_hb ,m.gender FROM member m inner join my_hobby_list h on m.id = h.id
		WHERE m.id LIKE #{search} group by m.id 
	</select>
	
	<select id="mnsearch" resultType="kr.co.hb.admin.dto.MemberManageDTO">
		SELECT m.id ,m.name ,m.age , m.area, h.big_hb, h.small_hb ,m.gender FROM member m inner join my_hobby_list h on m.id = h.id
		WHERE m.name LIKE #{search} group by m.id
	</select>
	
	<select id="mdetail" resultType="kr.co.hb.admin.dto.MemberManageDTO">
		SELECT * FROM member where id = #{param1}
	</select>
	
	<select id="proPhotoList" resultType="kr.co.hb.admin.dto.MemberManageDTO"> 
		SELECT * FROM hbPhoto WHERE id = #{param1} and board_class = #{param2}
	</select>
	
	   	<update id="banupdate" parameterType="kr.co.hb.board.dto.RandomDTO">
   		Update member Set ban = true Where id = #{param1}
   	</update>
   	
   	<update id="bupdate" parameterType="kr.co.hb.board.dto.RandomDTO">
   		Update member Set ban = false Where id = #{param1}
   	</update>
   	
   	<update id="adminupdate" parameterType="kr.co.hb.board.dto.RandomDTO">
   		Update member Set admin = true Where id = #{param1}
   	</update>
   
   <update id="aupdate" parameterType="kr.co.hb.board.dto.RandomDTO">
   		Update member Set admin = false Where id = #{param1}
   	</update>
	
	
</mapper>