<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	

<mapper namespace="kr.co.hb.admin.dao.MemberManageDAO">

	<select id="memberList" parameterType="hashmap" resultType="kr.co.hb.admin.dto.MemberManageDTO">
		SELECT * FROM member
	</select>
	
	<select id="misearch" resultType="kr.co.hb.admin.dto.MemberManageDTO">
		SELECT * FROM member WHERE id LIKE #{search}
	</select>
	
	<select id="mnsearch" resultType="kr.co.hb.admin.dto.MemberManageDTO">
		SELECT * FROM member WHERE name LIKE #{search}
	</select>
</mapper>