<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 쿼리를 xml로 등록한거임 -->
<!-- xml과 자바의 규격을 맞춰주는거 -->
<!-- namespace와 연결이 된다는 뜻 -->
<mapper namespace="kr.co.hb.admin.dao.NoticeDAO">
   
   <select id="noticeList" resultType="kr.co.hb.admin.dto.NoticeDTO">
      SELECT 
         *
       FROM notice ORDER BY notice_date DESC
   </select>
    
   <insert 
      useGeneratedKeys="true"
      keyColumn="notice_idx"
      keyProperty="notice_idx"
   
   
      id="noticeWrite" parameterType="kr.co.hb.admin.dto.NoticeDTO">
      INSERT INTO notice(id, notice_title, notice_content)
         VALUES(#{id},#{notice_title},#{notice_content})
   </insert>
   
   <insert id="noticeFileWrite">
      INSERT INTO hbphoto(id, board_num, board_class, ori_photo_name, new_photo_name)
         VALUES(#{param1},#{param2},#{param3}, #{param4}, #{param5})
   </insert>
   
   <update id="noticeUpHit">
      UPDATE notice SET notice_bHit = notice_bHit + 1 WHERE notice_idx = #{notice_idx}
      
   </update>
      
    <select id="noticeDetail" resultType="kr.co.hb.admin.dto.NoticeDTO">
      select n.notice_idx, n.notice_bHit, n.id, n.notice_date, n.notice_title,n.notice_content,n.notice_chk
         ,p.photoIdx, p.new_photo_name
      FROM notice n LEFT JOIN hbphoto p ON n.notice_idx= p.board_num 
      WHERE n.notice_idx = #{param1} AND p.board_class = '공지사항'  
   </select>
   
   <delete id="noticeDelete">
      DELETE FROM notice WHERE notice_idx = #{param1}
   </delete>
   
   <delete id="updatePDelete">
      DELETE FROM hbphoto WHERE photoIdx = #{param1}
   </delete>
   
   <select id="noticeFindFile" resultType="String">
      SELECT new_photo_name FROM hbphoto
         WHERE board_num = #{param1}
   </select>
   
   <select id="noticeFindFile2" resultType="String">
      SELECT new_photo_name FROM hbphoto
         WHERE photoIdx = #{param1}
   </select>
   
   <update id="noticeUpdate" parameterType="HashMap">
         UPDATE notice 
         SET notice_title = #{notice_title}
         , notice_content = #{notice_content}
         WHERE notice_idx = #{notice_idx}
   </update>     
   
	<select id="noticeTitle" resultType="kr.co.hb.admin.dto.NoticeDTO">
		SELECT * FROM notice
		WHERE notice_title LIKE #{notice_Search}
	</select>
	
	<select id="noticeId" resultType="kr.co.hb.admin.dto.NoticeDTO">
		SELECT * FROM notice
		WHERE id LIKE #{notice_Search}
	</select>
	
	<update id="notice_ChkOn">
	
      update notice set notice_chk  = true where notice_idx = #{notice_idx}

   </update>
   
	<update id="notice_ChkOff">     
 
 	  update notice set notice_chk  = false where notice_idx = #{notice_idx}
      
   </update>
   
   <delete id="deletePhoto">
   		DELETE from hbphoto where photoIdx = #{param1} AND board_num = #{param2};
   </delete>
   
   <select id="pro_select" resultType="kr.co.hb.admin.dto.NoticeDTO">
   	select id from member
   </select>
   
   <insert id="noticeAlarm">
      insert into alarm_list (id_send,id_receive,alarm_title,alarm_content,alarm_class,alarm_num)
       values (#{param1},#{param2},#{param3},#{param4},#{param5},#{param6})
   </insert>   
      
      
   <select id="noticeSearch" resultType="kr.co.hb.admin.dto.NoticeDTO">
		SELECT * 
		FROM notice 
		WHERE notice_title = #{notice_title} AND id = #{id}
	</select>
	
	
   <select id="nolist" resultType="kr.co.hb.admin.dto.NoticeDTO">
		SELECT *
			FROM notice ORDER BY notice_idx DESC LIMIT #{param1} OFFSET #{param2}
	</select>
		
	<select id="totalCount" resultType="int">
		SELECT COUNT(notice_idx) FROM notice 
	</select>
	
   <select id="nolistSearch" resultType="kr.co.hb.admin.dto.NoticeDTO">
      SELECT
         *
      FROM notice where notice_title LIKE CONCAT('%' #{search} '%')
   </select>         
      
   <select id="ntotalCountSearch" resultType="int">
      SELECT COUNT(notice_idx) FROM notice
         WHERE notice_title LIKE CONCAT('%' #{param1} '%')
   </select>
</mapper>