<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	

<mapper namespace="kr.co.hb.admin.dao.ReportDAO">
	
	<select id="reportPageList" resultType="kr.co.hb.admin.dto.ReportDTO">
	
	    SELECT *
		FROM report
		ORDER BY CASE WHEN admin_id IS NULL THEN 0 ELSE 1 END, admin_id DESC, rept_no DESC
		LIMIT #{param1} OFFSET #{param2}

	</select>
	
	<select id="totalCount" resultType="int">
		SELECT COUNT(rept_no) FROM report 
	</select>
	
	<select id="reportDetail" resultType="kr.co.hb.admin.dto.ReportDTO">
      SELECT rept_no, preporter, reptboard_class, rept_title, rept_content, rept_state, proc_content, rept_date 
	  FROM report WHERE rept_no = #{param1};  
   </select>
   
   <update id="commentWrite" parameterType="hashmap">
		  
 	  UPDATE report SET admin_id = #{admin_id}, proc_content = #{proc_content}, rept_state = #{rept_state}, proc_date = now() WHERE rept_no = #{rept_no};
   </update>

   
   <select id="reportCommentDetail" resultType="kr.co.hb.admin.dto.ReportDTO">
      SELECT rept_no, preporter, reptboard_class, rept_title, rept_content, rept_state, proc_content, rept_date 
	  FROM report WHERE rept_no = #{param1};  
   </select>
	
</mapper>