<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	

<mapper namespace="kr.co.hb.admin.dao.ReportDAO">
	
	<select id="reportPageList" resultType="kr.co.hb.admin.dto.ReportDTO">
		SELECT *
			FROM report ORDER BY rept_no DESC LIMIT #{param1} OFFSET #{param2}
	</select>
	
	<select id="totalCount" resultType="int">
		SELECT COUNT(rept_no) FROM report 
	</select>
	
</mapper>