<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	

<mapper namespace="kr.co.admin.dao.SecretDAO">

	<select id="totalCount" resultType="int">
		SELECT COUNT(secret_no) FROM secret 
	</select>
	
	<select id="secretPageList" resultType="kr.co.hb.admin.dto.SecretDTO">
		SELECT *
			FROM secret ORDER BY secret_no DESC LIMIT #{param1} OFFSET #{param2}
	</select>

</mapper>