<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	

<mapper namespace="kr.co.hb.admin.dao.SecretDAO">

	<select id="sTotalCount" resultType="int">
		SELECT COUNT(secret_no) FROM secret 
	</select>
	
	<!-- <select id="secretPageList" resultType="kr.co.hb.admin.dto.SecretDTO">
		SELECT *
			FROM secret WHERE secret_state = true ORDER BY secret_no DESC LIMIT #{param1} OFFSET #{param2}
	</select> -->	
   
	<update id="secretSet">     
 
 	  update secret set secret_state = false where sboard_num = #{sboard_num}
      
   </update>
   
   <select id="secretPageList" resultType="kr.co.hb.admin.dto.SecretDTO">
		SELECT *
			FROM secret ORDER BY secret_no DESC LIMIT #{param1} OFFSET #{param2}
	</select>
		
   <select id="secretSearch" resultType="kr.co.hb.admin.dto.SecretDTO">
 	 SELECT * FROM secret WHERE sboard_class LIKE CONCAT('%', #{search}, '%') OR writer_id LIKE CONCAT('%', #{search}, '%')
	</select>
	
	<select id="sTotalCountSearch" resultType="int">
	  SELECT COUNT(secret_no) FROM secret WHERE sboard_class LIKE CONCAT('%', #{search}, '%') OR writer_id LIKE CONCAT('%', #{search}, '%')
	</select>


</mapper>