<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="kr.co.hb.group.dao.GroupBoardDAO">

	<select id="glist" resultType="kr.co.hb.group.dto.GroupBoardDTO">
		SELECT * FROM gboardlist ORDER BY gidx DESC
	</select>
	
	<!-- <select id="gsorting" resultType="kr.co.hb.group.dto.GroupBoardDTO">
		SELECT * 
		FROM gboardlist 
		WHERE big_hb = #{big_hb} AND small_hb = #{small_hb} AND gender = #{gender} AND city = #{city} AND area = #{area} AND meeting_date = #{meeting_date}
	</select> -->
	
	<select id="gdetail" resultType="kr.co.hb.group.dto.GroupBoardDTO">
		SELECT g.gidx, g.id, g.subject, g.minage, g.maxage, g.city, g.area, g.meeting_date, g.content, g.mannertp, g.maxmem, g.big_hb, g.small_hb
		,h.photoIdx, h.new_photo_name FROM gboardlist g
		LEFT JOIN hbPhoto h ON g.gidx = h.board_num WHERE g.gidx = #{gidx} AND h.board_class = '모임'
	</select>
	
	<insert 
		useGeneratedKeys="true" keyColumn="gidx"
		keyProperty="gidx"
		id="gwrite" parameterType="kr.co.hb.group.dto.GroupBoardDTO">
		INSERT INTO gboardlist(id, subject, content, big_hb, small_hb, minage, maxage, gender, city, area, meeting_date, maxmem, mannertp)
		VALUES(#{id}, #{subject}, #{content}, #{big_hb}, #{small_hb}, #{minage}, #{maxage}, #{gender}, #{city}, #{area}, #{meeting_date}, #{maxmem}, #{mannertp})
	</insert>
	
	<select id="gsserch" resultType="kr.co.hb.group.dto.GroupBoardDTO">
		SELECT * FROM gboardlist
		WHERE subject LIKE #{serch} 
	</select>
	
	<select id="gwserch" resultType="kr.co.hb.group.dto.GroupBoardDTO">
		SELECT * FROM gboardlist
		WHERE id LIKE #{serch}
	</select>
	
	<select id="gcserch" resultType="kr.co.hb.group.dto.GroupBoardDTO">
		SELECT * FROM gboardlist
		WHERE content LIKE #{serch}
	</select>
	
	<select id="gboardpagelist" resultType="kr.co.hb.group.dto.GroupBoardDTO">
		SELECT *
			FROM gboardlist ORDER BY gidx DESC LIMIT #{param1} OFFSET #{param2}
	</select>
	
	<select id="totalCount" resultType="int">
		SELECT COUNT(gidx) FROM gboardlist 
	</select>
	
	<update id="uphit">
		UPDATE gboardlist SET bHit = bHit + 1
		WHERE gidx = #{id}
	</update>
	
	<update id="gupdate" parameterType="hashmap">
		UPDATE gboardlist 
		SET subject=#{subject}, content=#{content}, big_hb=#{big_hb}, small_hb=#{small_hb}, minage=#{minage}, maxage=#{maxage}, gender=#{gender}, city=#{city}, area=#{area}, meeting_date=#{meeting_date}, maxmem=#{maxmem}, mannertp=#{mannertp} 
		WHERE gidx = #{gidx}
	</update>
	
	<insert id="filesave">
		INSERT INTO hbPhoto(id, new_photo_name, ori_photo_name, board_class, board_num)
		VALUES(#{param1},#{param4},#{param3},#{param2},#{param5})	
	</insert>
	
	<delete id="gpdelete">
		DELETE FROM hbphoto WHERE board_num=#{gidx}
	</delete>
	
	<select id="hostchk" resultType="int">
		SELECT COUNT(id) FROM gboardlist WHERE id = #{loginId}
	</select>
	
	<insert id="host">
		INSERT INTO openlist(id, gidx) VALUES(#{loginId}, #{gidx})
	</insert>
	
	<select id="myGroupList" resultType="kr.co.hb.group.dto.GroupBoardDTO">
		SELECT * FROM gboardlist
		WHERE gidx IN(
			SELECT gidx FROM openlist WHERE id = #{param1}
		)
	</select>
	
	<delete id="gdelete">
		DELETE FROM gboardlist WHERE gidx = #{param1}
	</delete>
	
	<delete id="delopenlist">
		DELETE FROM openlist WHERE gidx = #{param1}
	</delete>
	
	<delete id="delchat">
		DELETE FROM chat WHERE gidx = #{param1}
	</delete>
	
	<delete id="delsgroup">
		DELETE FROM sgroup WHERE gidx = #{param1}
	</delete>
	
	<delete id="delsgmem">
		DELETE FROM sgmem WHERE gidx = #{param1}
	</delete>
	
	<select id="sportglist" resultType="kr.co.hb.group.dto.GroupBoardDTO">
		SELECT * FROM gboardlist WHERE big_hb = '운동' ORDER BY gidx DESC
	</select>
	
	<select id="petglist" resultType="kr.co.hb.group.dto.GroupBoardDTO">
		SELECT * FROM gboardlist WHERE big_hb = '반려동물' ORDER BY gidx DESC
	</select>
	
	<select id="foodglist" resultType="kr.co.hb.group.dto.GroupBoardDTO">
		SELECT * FROM gboardlist WHERE big_hb = '맛집' ORDER BY gidx DESC
	</select>
	
	<select id="leisureglist" resultType="kr.co.hb.group.dto.GroupBoardDTO">
		SELECT * FROM gboardlist WHERE big_hb = '여가' ORDER BY gidx DESC
	</select>
	
	<select id="etcglist" resultType="kr.co.hb.group.dto.GroupBoardDTO">
		SELECT * FROM gboardlist WHERE big_hb = '기타' ORDER BY gidx DESC
	</select>
	
	<insert id="reportGroupDo" parameterType="hashmap">
		insert into report (reporter, preporter, reptboard_class, reptboard_num, rept_title, rept_content)
		 values (#{reporter},#{preporter},#{reptboard_class},#{reptboard_num},#{rept_title},#{rept_content})
	</insert>
	
	<select id="gsorting" resultType="kr.co.hb.group.dto.GroupBoardDTO">
		SELECT * FROM gboardlist
        WHERE (big_hb = #{param1} OR #{param1} IS NULL)
        AND (small_hb = #{param2} OR #{param2} IS NULL)
        AND (gender = #{param3} OR #{param3} IS NULL)
        AND (city = #{param4} OR #{param4} IS NULL)
        AND (area = #{param5} OR #{param5} IS NULL)
        AND (meeting_date = #{param6} OR #{param6} IS NULL)
	</select>
	
</mapper>