<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="kr.co.hb.group.dao.GroupBoardDAO">

	<select id="glist" resultType="kr.co.hb.group.dto.GroupBoardDTO">
		SELECT * FROM gboardlist ORDER BY gidx DESC
	</select>
	
	<select id="gsorting" resultType="kr.co.hb.group.dto.GroupBoardDTO">
		SELECT * 
		FROM gboardlist 
		WHERE big_hb = #{big_hb} AND small_hb = #{small_hb} AND gender = #{gender} AND city = #{city} AND area = #{area} AND meeting_date = #{meeting_date}
	</select>
	
	<insert id="gwrite" parameterType="HashMap">
		INSERT INTO gboardlist(id, subject, content, big_hb, small_hb, minage, maxage, gender, city, area, meeting_date, maxmem, mannertp)
		VALUES(#{id}, #{subject}, #{content}, #{big_hb}, #{small_hb}, #{minage}, #{maxage}, #{gender}, #{city}, #{area}, #{meeting_date}, #{maxmem}, #{mannertp})
	</insert>
	
	<select id="gdetail" resultType="kr.co.hb.group.dto.GroupBoardDTO">
		SELECT * FROM gboardlist
		WHERE gidx = #{id}
	</select>
	
	<select id="gupdate" resultType="kr.co.hb.group.dto.GroupBoardDTO">
		SELECT * FROM gboardlist
		WHERE gidx = #{id}
	</select>
	
	<update id="gupdatedo" parameterType="hashmap">
		UPDATE gboardlist SET 
			subject = #{subject}
			,content = #{content}
			,big_hb = #{big_hb}
			,small_hb = #{small_hb}
			,minage = #{minage}
			,maxage = #{maxage}
			,gender = #{gender}
			,city = #{city}
			,area = #{area}
			,meeting_date = #{meeting_date}
			,maxmem = #{maxmem}
			,mannertp = #{mannertp}
		WHERE gidx = #{id}
	</update>
	
	<select id="gsserch" resultType="kr.co.hb.group.dto.GroupBoardDTO">
		SELECT * FROM gboardlist
		WHERE subject LIKE #{serch}
	</select>
	
	<select id="gwserch" resultType="kr.co.hb.group.dto.GroupBoardDTO">
		SELECT * FROM gboardlist
		WHERE id LIKE #{serch}
	</select>
	
	<select id="gcserch" resultType="kr.co.hb.group.dto.GroupBoardDTO">
		SELECT * FROM gboardlist
		WHERE content LIKE #{serch}
	</select>
	
	<select id="gboardpagelist" resultType="kr.co.hb.group.dto.GroupBoardDTO">
		SELECT *
			FROM gboardlist ORDER BY gidx DESC LIMIT #{param1} OFFSET #{param2}
	</select>
	
	<select id="totalCount" resultType="int">
		SELECT COUNT(gidx) FROM gboardlist 
	</select>
	
</mapper>