<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="kr.co.hb.group.dao.OpenChatDAO">
	
	<insert id="openlist" parameterType="HashMap">
		INSERT INTO openlist(id, gidx) VALUES(#{param1}, #{param2})
	</insert>
	
	<select id="openchatlist" resultType="kr.co.hb.group.dto.OpenChatDTO">
		SELECT * FROM openlist WHERE gidx = #{gidx}
	</select>
	
	<select id="memchk" resultType="int">
		SELECT COUNT(id) FROM openlist WHERE id = #{param1} AND gidx = #{param2}
	</select>
	
	<insert id="sendmsg">
		INSERT INTO chat(gidx, id, chatting) VALUES(#{param3}, #{}, #{msg})
	</insert>
	
	<select id="clist" resultType="kr.co.hb.group.dto.OpenChatDTO">
		SELECT id, chatting, chattime FROM chat WHERE gidx = #{param1}
	</select>
</mapper>