<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	

<mapper namespace="kr.co.hb.group.dao.SmallGroupDAO">

	<insert id="sgwrite" parameterType="HashMap">
		INSERT INTO sgroup(gidx, id, sgsubject, city, area, sgMeeting_date, maxmem)
		VALUES(#{gidx}, #{id}, #{sgsubject}, #{city}, #{area}, #{sgMeeting_date}, #{maxmem})
	</insert>	
	
	<select id="sglist" resultType="kr.co.hb.group.dto.SmallGroupDTO">
		SELECT * FROM sgroup WHERE gidx = #{param1}
	</select>
	
	<insert id="sgjoin">
		INSERT INTO sgmem(sidx, id) VALUES(#{param1}, #{param2})
	</insert>
	
	<select id="memchk" resultType="int">
		SELECT COUNT(id) FROM sgmem WHERE id = #{param1} AND sidx = #{param2}
	</select>
	
	<select id="maxmemchk" resultType="int">
		SELECT COUNT(id) FROM sgmem WHERE sidx = #{param1}
	</select>
	
	<select id="maxmem" resultType="int">
		SELECT maxmem FROM sgroup WHERE sidx = #{param1}
	</select>
	
	<select id="sgjlist" resultType="kr.co.hb.group.dto.SmallGroupDTO">
		SELECT * FROM sgmem WHERE sidx = #{param1}
	</select>
</mapper>