<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	

<mapper namespace="kr.co.hb.main.dao.MainDAO">
	<select id="idFind2" parameterType="hashmap" resultType="kr.co.hb.main.dto.MainDTO">
		SELECT id FROM member WHERE email=#{email} and phone=#{phone}
	</select>
	
	<select id="pwFind2" parameterType="String" resultType="kr.co.hb.main.dto.MainDTO">
		SELECT chkreq FROM member WHERE id=#{param1} and phone=#{param2}
	</select>
	
	<select id="pwFind3" parameterType="String" resultType="kr.co.hb.main.dto.MainDTO">
		SELECT id FROM member WHERE id=#{param1} and chkresp=#{param2}
	</select>
	
	<update id="pwFind4">
		UPDATE member SET pw=#{param2} WHERE id=#{param1}
	</update>

</mapper>